# Project Information
site_name: Squirrel
site_url: https://slaclab.github.io/react-squirrel/
site_author: SLAC National Accelerator Laboratory - AD / EED / Software Applications Group
site_description: User guide for Squirrel - EPICS PV Configuration Management

# Repository
repo_name: slaclab/react-squirrel
repo_url: https://github.com/slaclab/react-squirrel

# Configuration
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - navigation.top
    - navigation.tabs
    - navigation.indexes
    - navigation.footer
    - navigation.sections
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

# Plugins
plugins:
  - search
  - git-revision-date-localized:
      exclude:
        - index.md
      enable_creation_date: true
      fallback_to_build_date: true
      enable_git_follow: false
  - git-committers:
      exclude:
        - index.md
      repository: slaclab/react-squirrel
      branch: main

# Additional Configuration
extra:
  generator: false

extra_css:
  - stylesheets/extra.css

# Extensions
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - tables

# Page Tree
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - User Guide:
      - user-guide/index.md
      - Snapshots: user-guide/snapshots.md
      - Snapshot Comparison: user-guide/snapshot-comparison.md
      - PV Browser: user-guide/pv-browser.md
      - PV Details: user-guide/pv-details.md
      - Tags: user-guide/tags.md
      - Restore: user-guide/restore.md
